
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h1>ERROR ERROR ERROR ERROR</h1>
        <h2>SE PRODUJO UN ERROR INESPERADO</h2>
        <img src="http://akphoto4.ask.fm/188/812/845/1280003015-1pqc29l-2i4o0n6ksg9ijlk/original/carita.jpg" alt="ERROR"/>
    </div>
</body>
</html>
