
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>ERROR:</h1>
        <h3>Algo salió mal.</h3>
    </div>
</body>
</html>
