USE [master]
GO
/****** Object:  Database [WPFSample]    Script Date: 04/11/2016 11:14:23 ******/
CREATE DATABASE [WPFSample]
/* CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WPFSample', FILENAME = N'C:\data\SQLServer\Databases\WPFSample.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WPFSample_log', FILENAME = N'C:\data\SQLServer\Databases\WPFSample_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WPFSample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WPFSample]
GO
/****** Object:  User [prueba]    Script Date: 04/11/2016 11:14:23 ******/
CREATE USER [prueba] FOR LOGIN [prueba] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [prueba]
GO
ALTER ROLE [db_datareader] ADD MEMBER [prueba]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [prueba]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 04/11/2016 11:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[articulos](
	[idArticulo] [int] IDENTITY(1,1) NOT NULL,
	[nombreArticulo] [varchar](50) NOT NULL,
	[precioArticulo] [money] NULL,
	[stock] [int] NULL,
	[stockMinimo] [int] NULL,
	[idProveedor] [int] NULL,
	[descripArticulo] [varchar](200) NULL,
	[foto] [image] NULL,
 CONSTRAINT [PK_articulos] PRIMARY KEY CLUSTERED 
(
	[idArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[personas]    Script Date: 04/11/2016 11:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[personas](
	[IDPersona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellidos] [varchar](80) NOT NULL,
	[fechaNac] [date] NOT NULL,
	[direccion] [varchar](200) NULL,
	[telefono] [varchar](13) NULL,
 CONSTRAINT [PK_personas] PRIMARY KEY CLUSTERED 
(
	[IDPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 04/11/2016 11:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombreProveedor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_proveedores] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
